<mat-card class="mb-4">
  <mat-card-content>
    <form [formGroup]="filterForm" (ngSubmit)="filter()">
      <div class="row mt-2">
        <mat-form-field class="col-md-4 mb-2 col-12" appearance="outline">
          <mat-label>Start Date</mat-label>        
          <input matInput [matDatepicker]="pickerstart" formControlName="start_date">
          <mat-datepicker-toggle matSuffix [for]="pickerstart"></mat-datepicker-toggle>
          <mat-datepicker #pickerstart></mat-datepicker>
          <mat-error *ngIf="filterForm.controls['start_date'].errors?.required" >
            Start Date is required.
          </mat-error>                        
       </mat-form-field>
  
       <mat-form-field class="col-md-4 mb-2 col-12" appearance="outline">
        <mat-label> End Date</mat-label>        
        <input matInput [matDatepicker]="picker" formControlName="end_date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <!-- <mat-hint>Select End Date</mat-hint> -->
        <mat-error *ngIf="filterForm.controls['end_date'].errors?.required" >
          End Date is required.
        </mat-error>                        
     </mat-form-field>
     <div class="col-md-4 col-12" >
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <mat-select>
          <mat-option *ngFor="let status of statusname" [value]="status.value">
            {{ status.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      </div>
      </div>
    </form>    
  </mat-card-content>
  <div class="col-md-8 d-flex">
  <mat-paginator #paginator
           
  [pageSizeOptions]="[5, 10, 20, 40]">
</mat-paginator>
</div>
<div  class="row">
  <div class="col-md-12" style="text-align: end;">
    <button type="submit" class="btn filterButton" mat-raised-button>Clear</button>
  </div>
 </div>
</mat-card>
<mat-card class="mat-elevation-z2">
    <mat-card-header>
      <mat-card-title class="title">Vehicle Category </mat-card-title>
      <span class="spacer">&nbsp;</span>
      <div class="">
      <button mat-icon-button (click)="add()" class="addBtn">
        <mat-icon>person_add</mat-icon>
      </button>
    </div>
    </mat-card-header>
    <mat-card-content>
    
      <div class="row">
        <div class="fil">
        <div class="col-md-4 col-md-4">&nbsp;
        </div>
        <div class="col-md-10 col-sm-12 col-12 ml-auto">
          <mat-form-field class="float-right">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search" />
          </mat-form-field>
        </div>
      </div>
      </div>
  
   
      <div class="example-container">
        <mat-table #table [dataSource]="dataSource">
      
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
      
          <!-- Position Column -->
          <ng-container matColumnDef="statuscode">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> 
              <span class="mobile-label"></span>
              {{element.name}} 
            </mat-cell>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="colorcode">
            <mat-header-cell *matHeaderCellDef> Charge per km</mat-header-cell>
            <mat-cell *matCellDef="let element"> 
              <span class="mobile-label"></span>
              {{element.charge_per_km }} 
            </mat-cell>
          </ng-container>
      
         <!-- charge per min  -->
         <ng-container matColumnDef="chargepermin">
          <mat-header-cell *matHeaderCellDef> Charge per min</mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <span class="mobile-label"></span>
            {{element.charge_per_min}} 
          </mat-cell>
        </ng-container>      
      
        <!-- future date  -->
        <ng-container matColumnDef="futuredate">
          <mat-header-cell *matHeaderCellDef>Future Date</mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <span class="mobile-label"></span>
            {{element.future_date}} 
          </mat-cell>
        </ng-container>      
        <!-- gap  -->
        <ng-container matColumnDef="gapmint">
          <mat-header-cell *matHeaderCellDef>Gap Mint</mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <span class="mobile-label"></span>
            {{element.gap_mins}} 
          </mat-cell>
        </ng-container>      

        <!-- icon url  -->
        <ng-container matColumnDef="icon">
          <mat-header-cell *matHeaderCellDef>Icon</mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <span class="mobile-label"></span>
            {{element.icon_url}} 
          </mat-cell>
        </ng-container>      

        <!-- interval mints  -->
        <ng-container matColumnDef="intervalmint">
          <mat-header-cell *matHeaderCellDef>Interval Mint</mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <span class="mobile-label"></span>
            {{element.interval_mins}} 
          </mat-cell>
        </ng-container>  
        
        <!-- limit km  -->
        <ng-container matColumnDef="limitkm">
          <mat-header-cell *matHeaderCellDef>Limit Km</mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <span class="mobile-label"></span>
            {{element.limit_km}} 
          </mat-cell>
        </ng-container>   
        <!-- min_charge  -->
        <ng-container matColumnDef="mincharge">
          <mat-header-cell *matHeaderCellDef>Mint Charge</mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <span class="mobile-label"></span>
            {{element.min_charge}} 
          </mat-cell>
        </ng-container>  
        <!-- block_mins   -->
        <ng-container matColumnDef="blockmins">
          <mat-header-cell *matHeaderCellDef>Block Mins</mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <span class="mobile-label"></span>
            {{element.block_mins}} 
          </mat-cell>
        </ng-container>  
        <!-- batching_limit_km  -->
        <ng-container matColumnDef="batchinglimitkm">
          <mat-header-cell *matHeaderCellDef>Batching Limitkm</mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <span class="mobile-label"></span>
            {{element.batching_limit_km}} 
          </mat-cell>
        </ng-container>  
        <!-- accepted_seconds  -->
        <ng-container matColumnDef="acceptedseconds">
          <mat-header-cell *matHeaderCellDef>Accepted Second</mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <span class="mobile-label"></span>
            {{element.accepted_seconds}} 
          </mat-cell>
        </ng-container>  
        <!-- booking_gap  -->
        <ng-container matColumnDef="bookinggap">
          <mat-header-cell *matHeaderCellDef>Booking Gap</mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <span class="mobile-label"></span>
            {{element.booking_gap}} 
          </mat-cell>
        </ng-container>  

          <ng-container matColumnDef="Action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let element"> 
              <!-- <span class="mobile-label"> -->
                
                <mat-icon class="mx-2 actionIcon">visibility</mat-icon>
                <mat-icon class="mx-2 actionIcon">edit</mat-icon>
                
                <mat-icon class="mx-2 actionIcon" (click)="deleteTicket()">delete</mat-icon>
              <!-- </span> -->
              
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
       
      </div>
      
    </mat-card-content>
  </mat-card>

  
  <app-ngx-spinner></app-ngx-spinner>